html {
    font-size: 10px;
}

[data-weather] {
    margin:  20px;
    display: flex;
    flex-direction: column;
    border: 5px solid;
    justify-content: space-around;
    margin: auto;
    font-size: 1.8rem;
}

[data-weather] header {
    margin: auto;
}

img {
    width: 100px;
}

form {
    margin: 3rem;
}
label {
    font-size: 1.8rem;
}